.contents__right
  .contents__right__top
    %p.contents__right__top--group-name= @group.name
    %input.editbutton{:type => "submit", :value => "Edit", :onclick => "location.href= '/groups/#{@group.id}/edit' "}/
    %p.contents__right__top--members Members:
  .contents__right__middle
    .contents__right__middle__name-date-text
      - @messages.each do |message|
        %string.contents__right__middle__name-date-text--name= message.user.name
        %string.contents__right__middle__name-date-text--date= message.created_at
        %p.contents__right__middle__name-date-text__text= message.body
  .contents__right__right-bottom
    .contents__right__right-bottom__form-send
      = form_for [@groups,@message], :url => {:action => :create} do |f|
        = f.text_field :body, placeholder: "type a message", class: "contents__right__right-bottom__form-send--form"
        %i.fa.fa-file-image-o{"aria-hidden" => "true"}
        = f.submit "送信する", class: "contents__right__right-bottom__form-send--send-button"
